.supv-boxes {
	-moz-column-gap: 20px;
	-webkit-column-gap: 20px;
	grid-column-gap: 20px;
	display: grid;
	grid-template-columns: minmax(45%, 50%) minmax(45%, 50%);
}

.supv-box {
	margin-bottom: 20px;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.supv-full-span-col {
	grid-column: 1/-1;
}

@media only screen and (max-width: 1050px) {
	.supv-boxes {
		grid-template-columns: 100%;
	}
}
