.supv-container-fluid {
	margin-left: -20px !important;
}

.supv-container {
	padding: 0 20px;
}

.supv-container-fluid.hero, .supv-container.hero {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (min-width: 782px) {
	.supv-container {
		margin-left: 0;
		margin-right: 0;
	}
}

@media only screen and (max-width: 782px) {
	.supv-container-fluid, .supv-container {
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.supv-container {
		padding: 0 30px;
	}
}

@media only screen and (min-width: 1042px) {
	.supv-container {
		max-width: 80rem;

		&.full-width {
			max-width: 100%;
		}

		&.small {
			max-width: 810px;
		}
	}
}
