@font-face {
  font-family: "supervisor";
  src: url("../fonts/supervisor.eot");
  src: url("../fonts/supervisor.eot?#iefix") format("embedded-opentype"), url("../fonts/supervisor.woff") format("woff"), url("../fonts/supervisor.ttf") format("truetype"), url("../fonts/supervisor.svg#supervisor") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=supv-icon-]:before,
[class*=" supv-icon-"]:before,
#adminmenu #toplevel_page_supervisor div.wp-menu-image:before {
  font-family: "supervisor" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.supv-icon-supervisor:before {
  content: "a";
}

#adminmenu #toplevel_page_supervisor div.wp-menu-image:before {
  content: "a";
}

#adminmenu #toplevel_page_supervisor div.wp-menu-image img {
  display: none;
}

.supv-header {
  background-color: #fff;
  padding: 15px 20px;
  box-shadow: 0px 5px 1px -5px #bbb;
}

.supv-container-fluid {
  margin-left: -20px !important;
}

.supv-container {
  max-width: 80rem;
  /* TODO: update to make responsive. */
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}