.supv-header {
	background-color: $header-bg;
	border-top: 5px solid #8a1736;
	box-shadow: 0px 5px 1px -5px $shadow;
	padding: 15px 20px;

	&-logo {
		img {
			height: 50px;
			width: 214px;
		}
	}
}

.supv-sysinfo {
	margin-bottom: 5px;
	margin-top: 20px;

	&-box {
		background: $white;
		box-shadow: 0px 5px 1px -5px $shadow;
		display: inline-block;
		padding: 10px 15px;
		margin-right: 12px;

		p {
			color: $gray;
			float: left;
			margin: 0;

			&:first-child {
				color: $red !important;
				font-weight: bold;
				padding-right: 8px;
			}
		}

		&-status {
			width: 20px;
		}

		.supv-icon {
			font-size: 16px;
			margin-left: 6px;
			position: absolute;

			&-success {
				@extend .supv-icon;
				color: $success !important;
			}

			&-warning {
				@extend .supv-icon;
				color: $warning !important;
			}

			&-error {
				@extend .supv-icon;
				color: $error !important;
			}
		}
	}
}

.supv-stats {
	margin: 12px 0 3px 0;
	min-height: 50px;
	width: 100%;

	ul {
		list-style: none;
		margin: 0 auto;
		padding: 0;

		li {
			float: left;
			padding-top: 5px;
			width: 100px;

			&:last-child {
				border-right: 0;
			}

			p, span {
				line-height: 1.4;
				padding: 0;
			}
		}
	}

	&-title {
		color: $red;
		font-size: 12px;
		font-weight: 500;
		line-height: 0.8 !important;
		margin: 0 !important;
	}

	&-data {
		color: $red;
		font-size: 24px;
		margin: 0 !important;
	}

	&-footer {
		color: $light-gray;
		font-size: 12px;
		line-height: 0.8 !important;
		margin-left: -2px !important;
	}
}

.supv-text {
	&-success {
		clear: both;
		color: $success;
	}

	&-error {
		clear: both;
		color: $error;
	}

	&-warning {
		clear: both;
		color: $warning;
	}

	&-info {
		clear: both;
		color: $info;
	}
}

.supv-autoload {
	&-list {
		border: 1px solid $red;
		display: table;
		margin: 1.5em 0 1.2em 0;
		padding: 0;
		width: 100%;

		ul {
			display: table-row;
			list-style: none;
			margin: 0;
			padding: 0;
			width: 100%;

			&:nth-child(odd) {
				background: $light-red;
			}

			&:nth-child(even) {
				background: $white;
			}

			li {
				display: table-cell;
				margin: 0;
				padding: 2px 8px;
				vertical-align: middle;

				&.supv-col {
					&-check {
						border-right: 1px solid $red;
						padding-top: 10px !important;
						width: 5% !important;
					}

					&-name {
						border-right: 1px solid $red;
						width: 75% !important;
					}

					&-history {
						border-right: 1px solid $red;
						width: 60% !important;
					}

					&-size {
						width: 20% !important;
					}

					&-time {
						width: 32% !important;
					}
				}
			}

			&:first-child li {
				background: $red;
				color: $white;
				font-weight: bold;
				padding: 6px 8px !important;
			}
		}
	}

	&-ctas {
		margin-bottom: 0.5em;

		&-internal {
			margin-top: 1em;
		}
	}

	&-result {
		margin-top: 1em;

		&-list {
			margin-left: 1em;

			ul {
				list-style: disc;
			}
		}
	}
}

.supv-secure-login {
	&-switch {
		padding-bottom: 4px;
		padding-top: 8px;
	}

	&-settings {
		margin-top: 10px;

		ul {
			display: inline;

			li {
				list-style: none;
				padding-top: 4px;
				vertical-align: center;

				&:first-child {
					font-weight: bold;
					float: left;
					min-width: 140px;
					padding-top: 9px;
				}

				input {
					width: 60px;
				}
			}

			p.box-info {
				display: none;
			}
		}
	}
}

.supv-wordpress {
	&-auto-update-policy-message {
		margin-bottom: 2px !important;
	}
}

.supv-ctas {
	float: right;
	margin-top: -47px;
}

@media only screen and (max-width: 1300px) {
	.supv-stats {
		padding: 0 !important;
	}
}

@media only screen and (max-width: 1042px) {
	.supv-sysinfo {
		margin-bottom: 0;
	}

	.supv-ctas {
		float: right !important;
		margin-top: -47px !important;

		.supv-button {
			margin-right: 5px !important;

			&:last-child {
				margin-left: 0 !important;
				margin-right: 0 !important;
			}
		}
	}

	.supv-card {
		&:first-child {
			margin: 20px 0 10px 0 !important;
		}
	}
}

@media only screen and (max-width: 782px) {
	.toplevel_page_supervisor #wpcontent {
		padding-left: 0 !important;
	}
}

@media only screen and (max-width: 600px) {
	.supv-ctas {
		float: none !important;
		margin-bottom: 10px;
		margin-top: 10px !important;

		.supv-button {
			margin-right: 5px !important;

			&:last-child {
				margin-left: 0 !important;
				margin-right: 0 !important;
			}
		}
	}
}
