.supv-header {
	background-color: $header-bg;
	border-top: 5px solid #8a1736;
	box-shadow: 0px 5px 1px -5px $shadow;
	padding: 15px 20px;

	&-logo {
		img {
			height: 50px;
			width: 214px;
		}
	}
}

.supv-sysinfo {
	margin: 20px 0 15px 0;

	&-box {
		background: $white;
		box-shadow: 0px 5px 1px -5px $shadow;
		display: inline-block;
		padding: 10px 15px;
		margin-right: 12px;

		&:last-child {
			margin-right: 0;
		}

		p {
			color: $gray;
			float: left;
			margin: 0;

			&:first-child {
				color: $red !important;
				font-weight: bold;
				padding-right: 8px;
			}
		}

		&-status {
			width: 20px;
		}

		.supv-icon {
			font-size: 16px;
			margin-left: 6px;
			position: absolute;

			&-success {
				@extend .supv-icon;
				color: $success !important;
			}

			&-warning {
				@extend .supv-icon;
				color: $warning !important;
			}

			&-error {
				@extend .supv-icon;
				color: $error !important;
			}
		}
	}
}

.supv-text {
	clear: both;
	margin: 0.5em 0 0 0;

	&-success {
		@extend .supv-text;
		color: $success;
	}

	&-error {
		@extend .supv-text;
		color: $error;
	}

	&-warning {
		@extend .supv-text;
		color: $warning;
	}

	&-info {
		@extend .supv-text;
		color: $info;
	}
}

.supv-autoload {
	&-list {
		border: 1px solid $red;
		display: table;
		margin: 1.5em 0 1.2em 0;
		padding: 0;
		width: 100%;

		ul {
			display: table-row;
			list-style: none;
			margin: 0;
			padding: 0;
			width: 100%;

			&:nth-child(odd) {
				background: $light-red;
			}

			&:nth-child(even) {
				background: $white;
			}

			li {
				display: table-cell;
				margin: 0;
				padding: 2px 8px;
				vertical-align: middle;

				&.supv-col {
					&-check {
						border-right: 1px solid $red;
						padding-top: 10px !important;
						width: 5% !important;
					}

					&-name {
						border-right: 1px solid $red;
						width: 75% !important;
					}

					&-history {
						border-right: 1px solid $red;
						width: 60% !important;
					}

					&-size {
						width: 20% !important;
					}

					&-time {
						width: 32% !important;
					}
				}
			}

			&:first-child li {
				background: $red;
				color: $white;
				font-weight: bold;
				padding: 6px 8px !important;
			}
		}
	}

	&-ctas {
		margin-bottom: 0.5em;

		&-internal {
			margin-top: 1em;
		}
	}

	&-result {
		&-list {
			margin-left: 1em;

			ul {
				list-style: disc;
			}
		}
	}
}

.supv-wordpress {
	&-update-policy-box {
		margin-top: 5px;

		p {
			margin-top: -5px;
			margin-bottom: 1em;
		}

		.supv-wordpress-auto-update-policy-message {
			margin-bottom: 2px;
			margin-top: 5px;
		}
	}
}

@media only screen and (max-width: 782px) {
	.toplevel_page_supervisor #wpcontent {
		padding-left: 0 !important;
	}
}
