.supv-container {
	select {
		border: 1px solid $red !important;
		color: $red !important;
		padding: 5px 10px !important;

		&:hover {
			border: 1px solid $red !important;
			color: $red !important;
		}

		&:focus {
			box-shadow: 0 0 0 1px $light-red !important;
		}
	}

	.supv-w-100 {
		min-width: 100% !important;
	}

	input {
		&:hover {
			border: 1px solid $red !important;
			color: $red !important;
		}

		&:focus {
			border: 1px solid $red !important;
			box-shadow: 0 0 0 1px $light-red !important;
		}

		&[type="number"] {
			padding-right: 0 !important;
		}
	}
}

.supv-switch {
	position: relative;
	display: inline-block;
	width: 31px;
	height: 18px;

	input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	&-slider {
		border-radius: 18px;
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $switch-gray;
		-webkit-transition: .4s;
		transition: .4s;

		&:before {
			position: absolute;
			content: "";
			height: 12px;
			width: 12px;
			left: 3px;
			bottom: 3px;
			background-color: $white;
			-webkit-transition: .4s;
			transition: .4s;
			border-radius: 50%;
		}
	}

	input:checked + .supv-switch-slider {
		background-color: $red;
	}

	input:focus + .supv-switch-slider {
		box-shadow: 0 0 1px $red;
	}

	input:checked + .supv-switch-slider:before {
		-webkit-transform: translateX(13px);
		-ms-transform: translateX(13px);
		transform: translateX(13px);
	}

	&-text {
		color: $gray;
		font-size: 13px;
		padding-left: 3px;

		input {
			width: 60px;
		}
	}
}

@media only screen and (max-width: 600px) {
	select {
		font-size: 14px !important;
	}
}
