// Colors.
$black: #000;
$white: #fff;
$gray: #444;
$light-gray: #888;
$red: #8a1736;
$light-red: #fef2f5;
$cta-red: #c54a4a;

// Text.
$success: #3c881a;
$error: #ff0e0e;
$warning: #f5c82d;

// General.
$shadow: #bbb;

// Header.
$header-bg: #fff;

// Card.
$card-bg: #fff;
$card-border: #efefef;
$card-header-font-size: 16px;
$card-header-color: $red;
$card-content-color: $gray;
$card-content-line-height: 1.6;
