// General
$shadow: #bbb;

// Card
$card-bg: #fff;
$card-border: #eee;
$card-header-font-size: 18px;

// Header
$header-bg: #fff;

// Colors
$black: #000;
$green: #3aa346;
$orange: #f55a03;
$red: #8a1736;
$white: #fff;
