@font-face {
  font-family: "supervisor";
  src: url("../fonts/supervisor.eot");
  src: url("../fonts/supervisor.eot?#iefix") format("embedded-opentype"), url("../fonts/supervisor.woff") format("woff"), url("../fonts/supervisor.ttf") format("truetype"), url("../fonts/supervisor.svg#supervisor") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=supv-icon-]:before,
[class*=" supv-icon-"]:before,
#adminmenu #toplevel_page_supervisor div.wp-menu-image:before {
  font-family: "supervisor" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#adminmenu #toplevel_page_supervisor div.wp-menu-image:before {
  content: "a";
}

#adminmenu #toplevel_page_supervisor div.wp-menu-image img {
  display: none;
}

.supv-icon-supervisor:before {
  content: "a";
}

.supv-icon-success:before {
  content: "c";
}

.supv-icon-warning:before {
  content: "d";
}

.supv-icon-error:before {
  content: "b";
}

.supv-icon-wordpress:before {
  content: "e";
}

.supv-icon-help:before {
  content: "f";
}

.supv-icon-info:before {
  content: "h";
}

.supv-container-fluid {
  margin-left: -20px !important;
}

.supv-container {
  padding: 0 20px;
}

@media only screen and (min-width: 782px) {
  .supv-container {
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (max-width: 1042px) {
  .supv-container {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 782px) {
  .supv-container-fluid, .supv-container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
@media only screen and (min-width: 1042px) {
  .supv-container {
    max-width: 80rem;
  }
  .supv-container.full-width {
    max-width: 100%;
  }
  .supv-container.small {
    max-width: 810px;
  }
}
.supv-boxes {
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  grid-column-gap: 20px;
  display: grid;
  grid-template-columns: minmax(45%, 50%) minmax(45%, 50%);
}

.supv-box {
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.supv-full-span-col {
  grid-column: 1/-1;
}

@media only screen and (max-width: 1050px) {
  .supv-boxes {
    grid-template-columns: 100%;
  }
}
.supv-card {
  color: #000;
  background-color: #fff;
  border: 1px solid #efefef;
  box-shadow: 0px 5px 1px -5px #bbb;
  display: grid;
  grid-template-rows: 50px min-content min-content;
  grid-template-areas: "header" "content" "actions";
}
.supv-card-header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-weight: 600;
  font-size: 16px;
  border-bottom: 1px solid #efefef;
}
.supv-card-header .text {
  color: #8a1736;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}
.supv-card-content {
  grid-area: content;
  color: #444;
  line-height: 1.6;
  padding: 10px 20px;
  position: relative;
}
.supv-card-content p {
  line-height: 1.6;
  margin: 0.5em 0;
}
.supv-card-content p:last-child {
  margin-bottom: 0.2em;
}
.supv-card-content p.box-info {
  background: #f0f0fc;
  border-left: 2px solid #3558cb;
  border-radius: 2px;
  color: #3558cb;
  font-size: 12px;
  margin-top: 12px;
  padding: 6px 12px;
}
.supv-card-content p.box-info span {
  font-size: 13px;
  padding-right: 3px;
  top: 2px;
  position: relative;
}
.supv-card-actions {
  grid-area: actions;
  padding: 0 20px 10px 20px;
}

.supv-container select {
  border: 1px solid #8a1736 !important;
  color: #8a1736 !important;
  padding: 5px 10px !important;
}
.supv-container select:hover {
  border: 1px solid #8a1736 !important;
  color: #8a1736 !important;
}
.supv-container select:focus {
  box-shadow: 0 0 0 1px #fef2f5 !important;
}
.supv-container .supv-w-100 {
  min-width: 100% !important;
}

@media only screen and (max-width: 600px) {
  select {
    font-size: 14px !important;
  }
}
.supv-stats {
  flex-wrap: wrap;
  padding-top: 5px;
}
.supv-stats ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.supv-stats ul li {
  float: left;
  width: 100px;
  margin: 0;
}
.supv-stats ul li:last-child {
  border-right: 0;
}
.supv-stats ul li p, .supv-stats ul li span {
  line-height: 1.4;
  padding: 0;
}
.supv-stats-title {
  color: #8a1736;
  font-size: 12px;
  font-weight: 500;
  line-height: 0.8 !important;
  margin: 0 !important;
}
.supv-stats-data {
  color: #8a1736;
  font-size: 24px;
  margin: 0;
}
.supv-stats-footer {
  color: #888;
  font-size: 12px;
  line-height: 0.8 !important;
  margin-left: -2px !important;
}

.supv-transients-stats, .supv-autoload-stats {
  display: grid;
  grid-template-areas: "stats ctas";
  grid-template-columns: auto auto;
}
.supv-transients-stats .supv-stats, .supv-autoload-stats .supv-stats {
  grid-area: stats;
  display: flex;
  align-items: center;
  align-content: flex-end;
}
.supv-transients-stats .supv-ctas, .supv-autoload-stats .supv-ctas {
  grid-area: ctas;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.supv-button {
  background: #8a1736;
  border: 1px solid #8a1736;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 2.15384615;
  margin-right: 5px;
  min-height: 30px;
  padding: 5px 20px;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  white-space: nowrap;
}
.supv-button-small {
  font-weight: 500 !important;
  padding: 0 10px !important;
}
.supv-button:hover {
  background: #c54a4a;
  border: 1px solid #c54a4a;
  color: #fff;
}
.supv-button:last-child {
  margin-right: 0 !important;
}
.supv-button-secondary {
  background: #444;
  border: 1px solid #444;
  color: #fff;
}

.supv-header {
  background-color: #fff;
  border-top: 5px solid #8a1736;
  box-shadow: 0px 5px 1px -5px #bbb;
  padding: 15px 20px;
}
.supv-header-logo img {
  height: 50px;
  width: 214px;
}

.supv-sysinfo {
  margin: 20px 0 15px 0;
}
.supv-sysinfo-box {
  background: #fff;
  box-shadow: 0px 5px 1px -5px #bbb;
  display: inline-block;
  padding: 10px 15px;
  margin-right: 12px;
}
.supv-sysinfo-box:last-child {
  margin-right: 0;
}
.supv-sysinfo-box p {
  color: #444;
  float: left;
  margin: 0;
}
.supv-sysinfo-box p:first-child {
  color: #8a1736 !important;
  font-weight: bold;
  padding-right: 8px;
}
.supv-sysinfo-box-status {
  width: 20px;
}
.supv-sysinfo-box .supv-icon, .supv-sysinfo-box .supv-icon-error, .supv-sysinfo-box .supv-icon-warning, .supv-sysinfo-box .supv-icon-success {
  font-size: 16px;
  margin-left: 6px;
  position: absolute;
}
.supv-sysinfo-box .supv-icon-success {
  color: #3c881a !important;
}
.supv-sysinfo-box .supv-icon-warning {
  color: #f5c82d !important;
}
.supv-sysinfo-box .supv-icon-error {
  color: #ff0e0e !important;
}

.supv-text, .supv-text-info, .supv-text-warning, .supv-text-error, .supv-text-success {
  clear: both;
  margin: 0.5em 0 0 0;
}
.supv-text-success {
  color: #3c881a;
}
.supv-text-error {
  color: #ff0e0e;
}
.supv-text-warning {
  color: #f5c82d;
}
.supv-text-info {
  color: #3558cb;
}

.supv-autoload-list {
  border: 1px solid #8a1736;
  display: table;
  margin: 1.5em 0 1.2em 0;
  padding: 0;
  width: 100%;
}
.supv-autoload-list ul {
  display: table-row;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.supv-autoload-list ul:nth-child(odd) {
  background: #fef2f5;
}
.supv-autoload-list ul:nth-child(even) {
  background: #fff;
}
.supv-autoload-list ul li {
  display: table-cell;
  margin: 0;
  padding: 2px 8px;
  vertical-align: middle;
}
.supv-autoload-list ul li.supv-col-check {
  border-right: 1px solid #8a1736;
  padding-top: 10px !important;
  width: 5% !important;
}
.supv-autoload-list ul li.supv-col-name {
  border-right: 1px solid #8a1736;
  width: 75% !important;
}
.supv-autoload-list ul li.supv-col-history {
  border-right: 1px solid #8a1736;
  width: 60% !important;
}
.supv-autoload-list ul li.supv-col-size {
  width: 20% !important;
}
.supv-autoload-list ul li.supv-col-time {
  width: 32% !important;
}
.supv-autoload-list ul:first-child li {
  background: #8a1736;
  color: #fff;
  font-weight: bold;
  padding: 6px 8px !important;
}
.supv-autoload-ctas {
  margin-bottom: 0.5em;
}
.supv-autoload-ctas-internal {
  margin-top: 1em;
}
.supv-autoload-result-list {
  margin-left: 1em;
}
.supv-autoload-result-list ul {
  list-style: disc;
}

.supv-wordpress-update-policy-box {
  margin-top: 5px;
}
.supv-wordpress-update-policy-box p {
  margin-top: -5px;
  margin-bottom: 1em;
}
.supv-wordpress-update-policy-box .supv-wordpress-auto-update-policy-message {
  margin-bottom: 2px;
  margin-top: 5px;
}

@media only screen and (max-width: 782px) {
  .toplevel_page_supervisor #wpcontent {
    padding-left: 0 !important;
  }
}

/*# sourceMappingURL=supervisor.css.map */
