@import "header";

.supv-container-fluid {
	margin-left: -20px !important;
}

.supv-container {
	max-width: 80rem; /* TODO: update to make responsive. */
	margin-left: auto;
	margin-right: auto;
	padding: 0 30px;
}
